<div class="form-group floating-group mb-4 position-relative">
  <select
    class="form-select floating-select"
    [formControl]="control"
    [ngClass]="{ 'border-error': showError }"
  >
    <option *ngFor="let opt of options" [value]="opt.value">
      {{ opt.label }}
    </option>
  </select>

  <label class="floating-label" [ngClass]="{ 'text-danger': showError }">
    {{ label }}
    <span *ngIf="isRequired" class="text-danger">*</span>
  </label>

  <div class="error-message text-danger">
    <small *ngIf="showError">{{ errorMessage }}</small>
  </div>
</div>
