<div class="w-100 h-100 d-flex align-items-center justify-content-center">
  <div class="container text-center">
    <!-- Titre -->
    <div class="mb-4">
      <app-app-titre titre="Changer le mot de passe"></app-app-titre>
      <p class="small text-muted mt-2">Entrez votre nouveau mot de passe.</p>
    </div>

    <!-- Formulaire de changement de mot de passe -->
    <form
      [formGroup]="resetForm"
      (ngSubmit)="onSubmit()"
      class="w-100 mx-auto"
      style="max-width: 350px"
    >
      <div class="mb-3 text-start">
        <app-input-text-with-error
          inputType="password"
          label="Nouveau mot de passe"
          [control]="resetForm.get('password')!"
          required="true"
        ></app-input-text-with-error>
      </div>

      <div class="mb-3 text-start">
        <app-input-text-with-error
          inputType="password"
          label="Confirmez le nouveau mot de passe"
          [control]="resetForm.get('confirmPassword')!"
          required="true"
        ></app-input-text-with-error>
      </div>

      <button
        type="submit"
        class="btn btn-primary w-100 text-white"
        [disabled]="resetForm.invalid"
      >
        Valider
      </button>
    </form>

    <!-- Lien de retour -->
    <div class="mt-3">
      <a routerLink="/login" class="small text-decoration-none">
        Retour à la connexion
      </a>
    </div>
  </div>
</div>
