<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center text-primary mb-4">Tarifications</h2>
      <p>
        Pour connaitre le tarif, les familles doivent s’adresser à nos équipes
        en complétant le formulaire d’inscription pour une simulation tarifaire
        sur mesure. Les tarifs sont en fonction du nombre d’heures, de jours et
        des revenus des parents. Un devis détaillé sera établit avant chaque
        inscription.
      </p>
      <p class="fw-bold">Ils comprennent :</p>
      <ul>
        <li>les repas</li>
        <li>les couches</li>
        <li>les frais d’entretien</li>
        <li>
          la déduction d'une semaine de fermeture pendant les fêtes de fin
          d'année, 4 semaines de fermeture pendant le mois d'août et 1 semaine
          de jours fériés.
        </li>
      </ul>
      <p>
        Les tarifs pratiqués pour l'accueil des enfants à la micro-crèche
        fonctionnent en mode PAJE.
      </p>

      <h2 class="text-center text-primary mb-4">Aide financaiere</h2>
      <p>
        La prestation "Complément libre choix de mode de garde" (Cmg) de la PAJE
        est fixée en fonction de vos revenus et de l'âge de votre enfant.
        Celle-ci, vous est directement versée.
      </p>
      <p>
        Pour bénéficier de la PAJE (Prestation d’Accueil Jeune Enfant), vous
        devez faire garder votre enfant au moins 16 heures par mois par une
        micro-crèche.
      </p>
      <p class="text-center fw-bold text-danger">
        Du 1er Avril 2024 au 31 Mars 2025
      </p>

      <div class="container mt-4">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th rowspan="2" class="text-center">Âge de l'enfant</th>
                <th colspan="3" class="text-center">
                  Plafonds des revenus 2023
                </th>
              </tr>
              <tr>
                <th class="text-center">Inférieurs</th>
                <th class="text-center">Ne dépassant pas</th>
                <th class="text-center">Supérieurs à</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="text-center">1 Enfants</th>
                <td class="text-center">22 809 €</td>
                <th class="text-center">50 686 €</th>
                <td class="text-center">50 686 €</td>
              </tr>
              <tr>
                <th class="text-center">2 Enfants</th>
                <td class="text-center">26 046 €</td>
                <th class="text-center">57 881 €</th>
                <td class="text-center">57 881 €</td>
              </tr>
              <tr>
                <th class="text-center">3 Enfants</th>
                <td class="text-center">29 283 €</td>
                <th class="text-center">65 076 €</th>
                <td class="text-center">65 076 €</td>
              </tr>
              <!-- Les lignes de données ici -->
            </tbody>
          </table>
        </div>
      </div>

      <div class="container mt-4">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Âge de l'enfant</th>
                <th colspan="3">
                  Quand l'association ou l'entreprise emploie une garde à
                  domicile / Micro-crèche
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>- de 3 ans</th>
                <td>968 €</td>
                <th>834 €</th>
                <td>701 €</td>
              </tr>

              <tr>
                <th>+ de 3 ans</th>
                <td>484 €</td>
                <th>417 €</th>
                <td>350 €</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <p class="text-center fw-bold">
        Un minimum de 15% de la dépense restera à la charge des parents.
      </p>

      <p
        class="text-center fw-bold text-danger"
        style="text-decoration: underline"
      >
        Merci de consulter le site de la CAF pour vous informer de vos droits.
      </p>
    </div>
  </div>
</div>
