<div class="soins-section container">
  <h2 class="text-center text-primary mb-4">Les Soins</h2>
  <div class="accordion" id="soinsAccordion">
    <!-- 🥗 Alimentation -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingAlimentation">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseAlimentation"
          aria-expanded="true"
          aria-controls="collapseAlimentation"
        >
          🍽️ L’Alimentation
        </button>
      </h2>
      <div
        id="collapseAlimentation"
        class="accordion-collapse collapse show"
        aria-labelledby="headingAlimentation"
        data-bs-parent="#soinsAccordion"
      >
        <div class="accordion-body">
          <div class="accordion" id="alimentationSubAccordion">
            <!-- Chez les bébés -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingBebes">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseBebes"
                  aria-expanded="false"
                  aria-controls="collapseBebes"
                >
                  👶 Chez les bébés
                </button>
              </h2>
              <div
                id="collapseBebes"
                class="accordion-collapse collapse"
                aria-labelledby="headingBebes"
                data-bs-parent="#alimentationSubAccordion"
              >
                <div class="accordion-body">
                  <p>
                    Les repas sont proposés en fonction de leur rythme en tenant
                    compte des informations données par les parents et en
                    respectant les intervalles minimums requis entre chaque
                    biberon. En fonction de leurs motricité globale, le repas
                    peut être proposé dans les bras, dans des sièges adaptés ou
                    à une toute petite table. C’est un temps privilégié en tête
                    à tête avec l’adulte, important pour chacun, adulte comme
                    enfant. Puis l’enfant grandissant va développer une
                    motricité globale qui lui permettra de rejoindre l’espace de
                    repas des plus grands en autonomie. Les repas proposés aux
                    bébés sont adaptés à leur physiologie et sont des purées
                    lisses, ensuite rapidement nous pourrons proposer des purées
                    mixées (légumes grossièrement écrasés à la fourchette). La
                    première cuillère de l’enfant est la main, celle-ci favorise
                    la découverte des textures, le plaisir de devenir autonome
                    et de se nourrir soi-même. L’équipe laisse l’enfant libre
                    d’utiliser sa main comme cuillère s’il le souhaite, en
                    complément nous proposons la double cuillère. L’allaitement
                    maternel : Les parents qui le souhaitent peuvent apporter à
                    la crèche le lait maternel dans un cadre et un protocole
                    sanitaire strict, assurant ainsi la continuité de
                    l'allaitement à la maison tout en maintenant la bonne
                    sécurité physique de l’enfant. Pour la tétée, nous pouvons
                    créer un endroit adapté à la maman et à son enfant qui leur
                    laissera la possibilité de se retrouver en toute intimité.
                    Les protocoles se référant à l’allaitement maternel se
                    trouvent dans le guide SANTE de notre établissement
                    consultable, à tout moment, par les familles. La
                    diversification : L’introduction d’une alimentation
                    diversifiée se fait progressivement et toujours en
                    concertation avec les parents. Toujours dans cette démarche
                    de continuité éducative, les différentes introductions sont
                    d’abord effectuées par les parents à la maison puis par
                    l’équipe de la micro-crèche. L’équipe tient d’ailleurs un
                    tableau d’introduction pour chaque enfant. Nous demandons
                    aux familles de nous informer dès l’essai d’un nouvel
                    aliment. La diversification alimentaire est une étape-clé à
                    débuter à l’initiative des parents, entre 4 et 6 mois car se
                    sont des moments forts dans la relation parents/enfant.
                  </p>
                </div>
              </div>
            </div>

            <!-- Chez les grands -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingGrands">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseGrands"
                  aria-expanded="false"
                  aria-controls="collapseGrands"
                >
                  🧒 Chez les grands
                </button>
              </h2>
              <div
                id="collapseGrands"
                class="accordion-collapse collapse"
                aria-labelledby="headingGrands"
                data-bs-parent="#alimentationSubAccordion"
              >
                <div class="accordion-body">
                  <p>
                    Le déjeuner comme le goûter se fait dans un espace prévu à
                    cet effet, le repas est un moment convivial, un temps
                    d'échanges et de découvertes sensorielles. Chaque enfant a
                    son propre rythme et il est important de respecter le temps
                    dont il a besoin pour manger. Concrètement, nous proposons à
                    l'enfant un plateau repas sous forme de grande assiette
                    compartimentée. Chacun a son propre plateau repas constitué
                    d’une entrée, d’un plat complet, d’un fromage et d’un
                    dessert (fruit, compote ou pâtisserie) et de l’eau. L’enfant
                    est libre de commencer par ce qui lui fait le plus envie et
                    de manger à son rythme. Nous les accompagnons s’ils en ont
                    besoin et échangeons avec chacun de façon individuelle ou en
                    groupe. De cette façon, en plus de développer le langage,
                    les enfants découvrent le plaisir de partager un repas tous
                    ensemble. Nous respectons l’appétit de l’enfant dans la
                    limite d’une portion adaptée à son âge. Nous n’obligerons
                    pas un enfant à manger contre sa volonté, nous
                    l’encourageons néanmoins à gouter. Accompagner l'enfant lors
                    des temps de repas c’est aussi l'inciter à acquérir de plus
                    en plus d'autonomie : peu à peu l’enfant va développer ses
                    compétences et réussir à manger seul. Nous proposons donc,
                    en fonction de l'évolution de l'enfant ou du bébé, la tenue
                    seul du biberon, le repas à 2 cuillères puis le repas pris
                    par l’enfant de manière autonome. De même, les enfants
                    passent progressivement de la chaise haute à la table et se
                    « débarbouillent » seuls le visage et les mains à la fin du
                    repas lorsqu’ils en ont la capacité. Le temps du repas est
                    aussi pour l'enfant un moment de plaisir partagé avec le
                    professionnel qui s’occupe de lui. Prendre conscience de
                    l'importance de manger pour être en bonne santé et garder un
                    bon équilibre alimentaire passe, comme tous les
                    apprentissages, par le jeu. Ainsi, les adultes sont toujours
                    présents pour inviter l'enfant à goûter, pour faire
                    patienter ceux qui ont terminés avant les autres, pour les
                    encourager... Nous savons que l’appétit des enfants fluctue
                    en fonction de leurs besoins propres, de leurs
                    développements physiques et psychologiques et aussi par
                    imitation au groupe. De ce fait nous proposons régulièrement
                    aux enfants des ateliers de cuisine ou de manipulation.
                  </p>
                </div>
              </div>
            </div>

            <!-- Régimes alimentaires -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingRegimes">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseRegimes"
                  aria-expanded="false"
                  aria-controls="collapseRegimes"
                >
                  🥦 Les régimes alimentaires
                </button>
              </h2>
              <div
                id="collapseRegimes"
                class="accordion-collapse collapse"
                aria-labelledby="headingRegimes"
                data-bs-parent="#alimentationSubAccordion"
              >
                <div class="accordion-body">
                  <p>
                    Nous respectons les régimes spécifiques pour allergies,
                    intolérances...
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 🚿 Hygiène -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingHygiene">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseHygiene"
          aria-expanded="false"
          aria-controls="collapseHygiene"
        >
          🚿 L’Hygiène
        </button>
      </h2>
      <div
        id="collapseHygiene"
        class="accordion-collapse collapse"
        aria-labelledby="headingHygiene"
        data-bs-parent="#soinsAccordion"
      >
        <div class="accordion-body">
          <div class="accordion" id="hygieneSubAccordion">
            <!-- Pour les grands -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingHygieneGrands">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseHygieneGrands"
                  aria-expanded="false"
                  aria-controls="collapseHygieneGrands"
                >
                  🧼 Pour les grands
                </button>
              </h2>
              <div
                id="collapseHygieneGrands"
                class="accordion-collapse collapse"
                aria-labelledby="headingHygieneGrands"
                data-bs-parent="#hygieneSubAccordion"
              >
                <div class="accordion-body">
                  <p>
                    Les enfants apprennent à se laver les mains et le visage...
                  </p>
                </div>
              </div>
            </div>

            <!-- Acquisition de la continence -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingContinence">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseContinence"
                  aria-expanded="false"
                  aria-controls="collapseContinence"
                >
                  🚽 Acquisition de la continence
                </button>
              </h2>
              <div
                id="collapseContinence"
                class="accordion-collapse collapse"
                aria-labelledby="headingContinence"
                data-bs-parent="#hygieneSubAccordion"
              >
                <div class="accordion-body">
                  <p>
                    Nous accompagnons les enfants dans l’apprentissage de la
                    propreté...
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 😴 Sommeil -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSommeil">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSommeil"
          aria-expanded="false"
          aria-controls="collapseSommeil"
        >
          😴 Le Sommeil
        </button>
      </h2>
      <div
        id="collapseSommeil"
        class="accordion-collapse collapse"
        aria-labelledby="headingSommeil"
        data-bs-parent="#soinsAccordion"
      >
        <div class="accordion-body">
          <div class="accordion" id="sommeilSubAccordion">
            <!-- Pour les petits -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSommeilPetits">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseSommeilPetits"
                  aria-expanded="false"
                  aria-controls="collapseSommeilPetits"
                >
                  🍼 Pour les plus petits
                </button>
              </h2>
              <div
                id="collapseSommeilPetits"
                class="accordion-collapse collapse"
                aria-labelledby="headingSommeilPetits"
                data-bs-parent="#sommeilSubAccordion"
              >
                <div class="accordion-body">
                  <p>
                    Un espace calme et sécurisé est aménagé pour le repos des
                    bébés...
                  </p>
                </div>
              </div>
            </div>

            <!-- Pour les grands -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSommeilGrands">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseSommeilGrands"
                  aria-expanded="false"
                  aria-controls="collapseSommeilGrands"
                >
                  🛌 Pour les plus grands
                </button>
              </h2>
              <div
                id="collapseSommeilGrands"
                class="accordion-collapse collapse"
                aria-labelledby="headingSommeilGrands"
                data-bs-parent="#sommeilSubAccordion"
              >
                <div class="accordion-body">
                  <p>
                    Des rituels apaisants aident les enfants à s’endormir
                    sereinement...
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- présentation de la structure -->
<div class="container mt-5">
  <!-- Présentation de la structure -->
  <div class="card shadow-lg mb-4">
    <div class="card-body">
      <h2 class="text-center text-primary mb-4">
        <i class="bi bi-house-door-fill"></i> Présentation de la Structure
      </h2>
      <img
        src="assets/creche.jpg"
        class="img-fluid rounded mb-3"
        alt="Crèche"
      />
      <p>
        📍 Située au <strong>5 impasse des grands</strong>, notre micro-crèche
        accueille des enfants de <strong>2 mois et demi à 5 ans</strong>.
      </p>
      <p>
        🕒 <strong>Horaires</strong> : Lundi au vendredi de
        <strong>7h30 à 18h30</strong>
      </p>
      <p>
        📅 <strong>Fermeture</strong> : 4 semaines en août, 1 semaine en
        décembre
      </p>
      <p>
        🏡 <strong>Superficie</strong> : <strong>160m²</strong> dont 125m²
        dédiés aux enfants et un extérieur clôturé de 100m².
      </p>
      <p>
        🏠 <strong>Locaux</strong> : dortoirs, salle de bain, salle de jeu,
        cuisine, buanderie...
      </p>
      <p>
        🎓 <strong>Autorisation</strong> : Président du Conseil Départemental
      </p>
    </div>
  </div>

  <!-- Accordéon pour les modalités d'accueil -->
  <div class="container mt-5">
    <h2 class="text-center text-primary mb-4">Les modalités d'accueil</h2>
    <div class="row justify-content-center">
      <!-- Carte Accueil Régulier -->
      <div class="col-md-4 mb-4">
        <div
          class="card text-center"
          style="background-color: #ff6f61; color: white"
        >
          <div class="card-body">
            <div class="icon mb-3">
              <i class="fas fa-calendar-alt" style="font-size: 50px"></i>
            </div>
            <h5 class="card-title">Accueil Régulier</h5>
            <p class="card-text">
              les enfants sont inscrits selon le contrat individualisé (de 1 à 5
              jours par semaine) comportant les conditions précises d’accueil de
              l’enfant. Ce contrat est révisable sous réserve des places
              disponibles.
            </p>
          </div>
        </div>
      </div>

      <!-- Carte Accueil Occasionnel -->
      <div class="col-md-4 mb-4">
        <div
          class="card text-center"
          style="background-color: #ffeb3b; color: black"
        >
          <div class="card-body">
            <div class="icon mb-3">
              <i class="fas fa-clock" style="font-size: 50px"></i>
            </div>
            <h5 class="card-title">Accueil Occasionnel</h5>
            <p class="card-text">
              les enfants sont inscrits 48h avant en fonction des places
              disponibles pour un accueil occasionnel. Ce mode occasionnel
              concerne l’accueil de l’enfant pour une durée limitée, non
              planifiée, ne se renouvelant pas à un rythme prévisible à
              l’avance.
            </p>
          </div>
        </div>
      </div>

      <!-- Carte Accueil d'Urgence -->
      <div class="col-md-4 mb-4">
        <div
          class="card text-center"
          style="background-color: #00e676; color: white"
        >
          <div class="card-body">
            <div class="icon mb-3">
              <i class="fas fa-ambulance" style="font-size: 50px"></i>
            </div>
            <h5 class="card-title">Accueil d'Urgence</h5>
            <p class="card-text">
              il s’agit de situations où l’enfant n’a jamais fréquenté
              l’établissement. C’est une possibilité réservée aux familles
              confrontées à des difficultés ponctuelles. Il se réalise dans les
              établissements susceptibles de disposer de places vacantes. Ex :
              lorsque l’un des parents fait l’objet d’une hospitalisation ou
              lors de l’absence du parent assurant habituellement la garde de
              l’enfant.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
