<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <!-- On conserve le style et on utilise routerLink pour gérer la navigation -->
    <a
      class="navbar-brand text-white ms-auto me-4 fw-bold"
      [routerLink]="urlLogin"
      routerLinkActive="active"
    >
      <img
        src="../../assets/resources/icons8-cadenas.svg"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      Mon espace
    </a>
  </div>
</nav>
