R
<div class="container mt-5">
  <h2 class="text-center text-primary mb-4">La Période de Familiarisation</h2>
  <!-- Barre de progression -->
  <div class="row justify-content-center">
    <div class="col-8">
      <ul class="nav nav-pills justify-content-between">
        <li class="nav-item" *ngFor="let step of steps; let i = index">
          <a
            class="nav-link"
            [ngClass]="{
              active: currentStep === i,
              completed: currentStep > i
            }"
            (click)="goToStep(i)"
            [attr.aria-selected]="currentStep === i ? 'true' : 'false'"
            >{{ step.title }}</a
          >
        </li>
      </ul>
    </div>
  </div>

  <!-- Description des étapes -->
  <div class="mt-4">
    <div *ngIf="currentStep === 0" class="step-description">
      <h5>{{ steps[currentStep].title }}</h5>
      <p>{{ steps[currentStep].description }}</p>
    </div>
    <div *ngIf="currentStep === 1" class="step-description">
      <h5>{{ steps[currentStep].title }}</h5>
      <p>{{ steps[currentStep].description }}</p>
    </div>
    <div *ngIf="currentStep === 2" class="step-description">
      <h5>{{ steps[currentStep].title }}</h5>
      <p>{{ steps[currentStep].description }}</p>
    </div>
  </div>

  <!-- Boutons de navigation -->
  <div class="button-container text-center mt-4">
    <button
      class="btn btn-secondary"
      [disabled]="currentStep === 0"
      (click)="prevStep()"
    >
      Étape Précédente
    </button>
    <button
      class="btn btn-primary"
      [disabled]="currentStep === steps.length - 1"
      (click)="nextStep()"
    >
      Étape suivante
    </button>
  </div>
</div>
