<div class="w-100 h-100 d-flex align-items-center justify-content-center">
  <div class="container text-center">
    <!-- Titre -->
    <div class="mb-4">
      <app-app-titre titre="Réinitialisation du mot de passe"></app-app-titre>
      <p class="small text-muted mt-2">
        Entrez votre adresse e-mail pour recevoir un lien de réinitialisation.
      </p>
    </div>

    <!-- Formulaire de demande de réinitialisation -->
    <form
      [formGroup]="resetRequestForm"
      (ngSubmit)="onSubmit()"
      class="w-100 mx-auto"
      style="max-width: 350px"
    >
      <div class="mb-3 text-start">
        <app-input-text-with-error
          inputType="email"
          label="Adresse e-mail"
          [control]="resetRequestForm.get('email')!"
        ></app-input-text-with-error>
      </div>

      <button
        type="submit"
        class="btn btn-primary w-100 text-white"
        [disabled]="!resetRequestForm.valid"
      >
        Envoyer le lien
      </button>
    </form>

    <!-- Lien de retour -->
    <div class="mt-3">
      <a routerLink="/login" class="small text-decoration-none">
        Retour à la connexion
      </a>
    </div>
  </div>
</div>
