.bg-custom-1 {
  background-color: #B58888;
}

.bg-custom-2 {
  background-color: #88B2B5;
}

.bg-custom-3 {
  background-color: #9188B5;
}

.bg-custom-4 {
  background-color: #B4B588;
}

.bg-custom-5 {
  background-color: #91B588;
}
