<div class="container py-5">
  <h2 class="text-center text-primary mb-4">Échanges au quotidien</h2>
  <div class="row">
    <!-- Arrivé de l'enfant -->
    <div class="col-md-6">
      <div class="card primary shadow-sm mb-4">
        <div class="card-body">
          <h4 class="card-title">L'arrivée de l'enfant</h4>
          <p class="card-text">
            L’accueil peut être réalisé par un professionnel qui n’est pas le
            référent de l’enfant...
          </p>
        </div>
      </div>
    </div>

    <!-- les transmission -->
    <div class="col-md-6">
      <div class="card secondary shadow-sm mb-4">
        <div class="card-body">
          <h4 class="card-title">Les transmissions</h4>
          <p class="card-text">
            Il est important pour l'équipe de prendre connaissance de ce qu’il a
            vécu à la maison...
          </p>
        </div>
      </div>
    </div>

    <!-- les transmission -->
    <div class="col-md-6">
      <div class="card third shadow-sm mb-4">
        <div class="card-body">
          <h4 class="card-title">La séparation</h4>
          <p class="card-text">
            Il est important pour l'équipe de prendre connaissance de ce qu’il a
            vécu à la maison...
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card fourty shadow-sm mb-4">
        <div class="card-body">
          <h4 class="card-title">Les départs de fin de journée</h4>
          <p class="card-text">
            Il est important pour l'équipe de prendre connaissance de ce qu’il a
            vécu à la maison...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
