<div class="container">
  <h2 class="text-center mb-4" style="font-family: 'Comic Sans MS', cursive; color: #ff6f61">
    Liste des Parents
  </h2>

  <!-- Barre de recherche -->
  <div class="d-flex justify-content-between mb-4">
    <input
      type="text"
      class="form-control"
      placeholder="Rechercher un parent par nom, prénom, email, ou téléphone..."
      [(ngModel)]="searchTerm"
      (input)="filterParents()"
      style="max-width: 300px; margin-left: 20px"
    />
    <button
      (click)="addParent()"
      class="btn btn-primary"
      style="background-color: #ff6f61; border-color: #ffb74d; color: white"
    >
      Ajouter un Parent
    </button>
  </div>

  <div class="table-responsive-md">
    <table class="table table-bordered" style="background-color: #fff3e0">
      <thead class="thead-light" style="background-color: #ffeb3b; color: #4caf50">
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Téléphone</th>
          <th>Adresse</th>
          <th>Enfants</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let parent of filteredParents; let i = index">
          <td class="primary-color">{{ i + 1 }}</td>
          <td class="primary-color">{{ parent.lastName }}</td>
          <td class="primary-color">{{ parent.firstName }}</td>
          <td class="primary-color">{{ parent.email }}</td>
          <td class="primary-color">{{ parent.mobile }}</td>
          <td class="primary-color">{{ parent.address }}</td>
          <td class="primary-color">
            <!-- Afficher les enfants, s'il y en a -->
            <span *ngFor="let child of parent.children; let j = index">
              {{ child.firstName }} {{ child.lastName }}
              <span *ngIf="j < parent.children.length - 1">, </span>
            </span>
          </td>
         <!-- Ajout du bouton "Voir Détails" -->
        <td>
          <button
            (click)="viewParentDetails(parent.id)"
            class="btn btn-info btn-sm"
            style="background-color: #4caf50; border-color: #388e3c; color: white"
          >
            Détails
          </button>
          <button
            (click)="editParent(parent.id)"
            class="btn btn-warning btn-sm"
            style="background-color: #ffeb3b; border-color: #ffb74d; color: #4caf50"
          >
            Modifier
          </button>
          <button
            (click)="deleteParent(parent.id)"
            class="btn btn-danger btn-sm"
            style="background-color: #ff8a65; border-color: #ff7043; color: white"
          >
            Supprimer
          </button>
        </td>

        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="filteredParents.length === 0" class="alert alert-info" style="background-color: #ffeb3b; color: #4caf50">
    Aucun parent trouvé. Ajoutez-en un !
  </div>
</div>